ul:has(input[type="checkbox"]) {
    list-style: none;
}
body {
    font-size: 16px;
}

.post-content code {
    font-size: .83em;
}
.post-content img {
    object-fit: contain;
}

::view-transition-image-pair(root) {
    isolation: auto;
  }
  
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    display: block;
}

.katex-display {
    display: inline-block;
}
.katex-display>.katex {
    text-align: left;
}
